In [2]:
import pandas as pd
pd.options.display.max_columns = 99

In [5]:
loan_first_five = pd.read_csv('loans_2007.csv', nrows=5)
loan_first_five

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-2011,Fully Paid,n,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-1985,1.0,3.0,0.0,13648.0,83.7%,9.0,f,0.00,0.00,5863.155187,5833.84,5000.00,863.16,0.00,0.00,0.00,Jan-2015,171.62,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-2011,Charged Off,n,car,bike,309xx,GA,1.00,0.0,Apr-1999,5.0,3.0,0.0,1687.0,9.4%,4.0,f,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-2013,119.66,Sep-2013,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
2,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-2011,Fully Paid,n,small_business,real estate business,606xx,IL,8.72,0.0,Nov-2001,2.0,2.0,0.0,2956.0,98.5%,10.0,f,0.00,0.00,3005.666844,3005.67,2400.00,605.67,0.00,0.00,0.00,Jun-2014,649.91,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
3,1076863,1277178.0,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-2011,Fully Paid,n,other,personel,917xx,CA,20.00,0.0,Feb-1996,1.0,10.0,0.0,5598.0,21%,37.0,f,0.00,0.00,12231.890000,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-2015,357.48,Apr-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
4,1075358,1311748.0,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-2011,Current,n,other,Personal,972xx,OR,17.94,0.0,Jan-1996,0.0,15.0,0.0,27783.0,53.9%,38.0,f,461.73,461.73,3581.120000,3581.12,2538.27,1042.85,0.00,0.00,0.00,Jun-2016,67.79,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0

In [6]:
loan_first_1000 = pd.read_csv('loans_2007.csv', nrows=1000)
print(loan_first_1000.memory_usage(deep=True).sum() / (1024*1024))

1.5502090454101562

In [20]:
loan_inc_dec = pd.read_csv('loans_2007.csv', chunksize=3100)
total_mem = 0
total_len = 0
for loan_inc_dec_chunk in loan_inc_dec:
    mem = loan_inc_dec_chunk.memory_usage(deep=True).sum() / (1024*1024)
    #print(mem)
    total_len += (loan_inc_dec_chunk.shape[0])
    total_mem += mem
print("Total Memory = " + str(total_mem))
print("Total Rows = " + str(total_len))

Total Memory = 66.30969715118408
Total Rows = 42538

In [23]:
loan_inc_dec = pd.read_csv('loans_2007.csv', chunksize=3100)
for loan_inc_dec_chunk in loan_inc_dec:
    print(loan_inc_dec_chunk.dtypes.value_counts())

float64    30
object     21
int64       1
dtype: int64
float64    30
object     21
int64       1
dtype: int64
float64    30
object     21
int64       1
dtype: int64
float64    30
object     21
int64       1
dtype: int64
float64    30
object     21
int64       1
dtype: int64
float64    30
object     21
int64       1
dtype: int64
float64    30
object     21
int64       1
dtype: int64
float64    30
object     21
int64       1
dtype: int64
float64    30
object     21
int64       1
dtype: int64
float64    30
object     21
int64       1
dtype: int64
float64    30
object     21
int64       1
dtype: int64
float64    30
object     21
int64       1
dtype: int64
float64    30
object     22
dtype: int64
float64    30
object     22
dtype: int64

In [28]:
loan_inc_dec = pd.read_csv('loans_2007.csv', chunksize=3100)
obj_cols = []
for loan_inc_dec_chunk in loan_inc_dec:
    loan_inc_dec_chunk_cols = loan_inc_dec_chunk.select_dtypes(include=['object']).columns.tolist()
    if(len(obj_cols) > 0):
        is_same = obj_cols == loan_inc_dec_chunk_cols
        if not is_same:
            print("Not Same Columns = ", loan_inc_dec_chunk_cols)
    else:
        obj_cols = loan_inc_dec_chunk_cols

Not Same Columns =  ['id', 'term', 'int_rate', 'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'verification_status', 'issue_d', 'loan_status', 'pymnt_plan', 'purpose', 'title', 'zip_code', 'addr_state', 'earliest_cr_line', 'revol_util', 'initial_list_status', 'last_pymnt_d', 'last_credit_pull_d', 'application_type']
Not Same Columns =  ['id', 'term', 'int_rate', 'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'verification_status', 'issue_d', 'loan_status', 'pymnt_plan', 'purpose', 'title', 'zip_code', 'addr_state', 'earliest_cr_line', 'revol_util', 'initial_list_status', 'last_pymnt_d', 'last_credit_pull_d', 'application_type']

In [29]:
used_cols = loan_first_five.columns.tolist()
used_cols.remove('id')
print("Used cols: ", used_cols)

Used cols:  ['member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'annual_inc', 'verification_status', 'issue_d', 'loan_status', 'pymnt_plan', 'purpose', 'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt', 'last_credit_pull_d', 'collections_12_mths_ex_med', 'policy_code', 'application_type', 'acc_now_delinq', 'chargeoff_within_12_mths', 'delinq_amnt', 'pub_rec_bankruptcies', 'tax_liens']

In [30]:
loan_chunk_iter = pd.read_csv('loans_2007.csv', chunksize=3100, usecols=used_cols)
str_cols_vc = {}

for chunk in loan_chunk_iter:
    str_cols = chunk.select_dtypes(include=['object'])
    for col in str_cols.columns:
        current_col_vc = str_cols[col].value_counts()
        if col in str_cols_vc:
            str_cols_vc[col].append(current_col_vc)
        else:
            str_cols_vc[col] = [current_col_vc]
            
## Combine the value counts.
combined_vcs = {}

print("Cols with less than 50% unique values:")
cat_cols = []

for col in str_cols_vc:
    combined_vc = pd.concat(str_cols_vc[col])
    final_vc = combined_vc.groupby(combined_vc.index).sum()
    combined_vcs[col] = final_vc
    
    if len(final_vc)/total_len < 0.5:
        cat_cols.append(col)
        print(col)

Cols with less than 50% unique values:
last_credit_pull_d
grade
emp_length
loan_status
last_pymnt_d
earliest_cr_line
application_type
initial_list_status
int_rate
issue_d
home_ownership
purpose
zip_code
term
addr_state
verification_status
sub_grade
title
pymnt_plan
revol_util

In [31]:
loan_chunk_iter = pd.read_csv('loans_2007.csv', chunksize=3000, usecols=used_cols)
null_c = {}

for chunk in loan_chunk_iter:
    float_cols = chunk.select_dtypes(include=['float']).columns
    for c in float_cols:
        total_null_count = chunk[c].isnull().sum()
        if c not in null_c:
            null_c[c] = total_null_count
        else:
            null_c[c] += total_null_count

In [32]:
for col in cat_cols:
    print(col)
    print(combined_vcs[col])
    print("-----------")

last_credit_pull_d
Apr-2009     24
Apr-2010     77
Apr-2011    177
Apr-2012    326
Apr-2013    445
Apr-2014    507
Apr-2015    404
Apr-2016    912
Aug-2007     17
Aug-2008     15
Aug-2009     32
Aug-2010     68
Aug-2011    290
Aug-2012    391
Aug-2013    375
Aug-2014    528
Aug-2015    435
Dec-2007      3
Dec-2008      7
Dec-2009     73
Dec-2010    156
Dec-2011    268
Dec-2012    391
Dec-2013    431
Dec-2014    567
Dec-2015    656
Feb-2008      3
Feb-2009     20
Feb-2010     87
Feb-2011    199
           ...
May-2013    470
May-2014    477
May-2015    433
May-2016    766
Nov-2007      3
Nov-2009     50
Nov-2010    126
Nov-2011    221
Nov-2012    432
Nov-2013    491
Nov-2014    500
Nov-2015    516
Oct-2007      3
Oct-2008     13
Oct-2009     51
Oct-2010    120
Oct-2011    162
Oct-2012    351
Oct-2013    429
Oct-2014    529
Oct-2015    513
Sep-2007      5
Sep-2008      9
Sep-2009     21
Sep-2010    119
Sep-2011    175
Sep-2012    414
Sep-2013    408
Sep-2014    564
Sep-2015    531
Name: last_credit_pull_d, Length: 108, dtype: int64
-----------
grade
A    10183
B    12389
C     8740
D     6016
E     3394
F     1301
G      512
Name: grade, dtype: int64
-----------
emp_length
1 year       3595
10+ years    9369
2 years      4743
3 years      4364
4 years      3649
5 years      3458
6 years      2375
7 years      1875
8 years      1592
9 years      1341
< 1 year     5062
Name: emp_length, dtype: int64
-----------
loan_status
Charged Off                                             5634
Current                                                  961
Default                                                    3
Does not meet the credit policy. Status:Charged Off      761
Does not meet the credit policy. Status:Fully Paid      1988
Fully Paid                                             33136
In Grace Period                                           20
Late (16-30 days)                                          8
Late (31-120 days)                                        24
Name: loan_status, dtype: int64
-----------
last_pymnt_d
Apr-2008     23
Apr-2009     72
Apr-2010    145
Apr-2011    519
Apr-2012    781
Apr-2013    890
Apr-2014    682
Apr-2015    141
Apr-2016    178
Aug-2008     31
Aug-2009     66
Aug-2010    198
Aug-2011    479
Aug-2012    868
Aug-2013    744
Aug-2014    836
Aug-2015    217
Dec-2007      2
Dec-2008     31
Dec-2009    116
Dec-2010    332
Dec-2011    585
Dec-2012    732
Dec-2013    799
Dec-2014    949
Dec-2015    185
Feb-2008      8
Feb-2009     65
Feb-2010    148
Feb-2011    437
           ...
May-2011    448
May-2012    773
May-2013    943
May-2014    686
May-2015    151
May-2016    203
Nov-2008     31
Nov-2009     80
Nov-2010    258
Nov-2011    487
Nov-2012    782
Nov-2013    701
Nov-2014    593
Nov-2015    231
Oct-2008     55
Oct-2009     85
Oct-2010    292
Oct-2011    482
Oct-2012    853
Oct-2013    712
Oct-2014    813
Oct-2015    200
Sep-2008     40
Sep-2009     55
Sep-2010    215
Sep-2011    491
Sep-2012    802
Sep-2013    712
Sep-2014    694
Sep-2015    211
Name: last_pymnt_d, Length: 103, dtype: int64
-----------
earliest_cr_line
Apr-1964      3
Apr-1966      1
Apr-1967      4
Apr-1968      1
Apr-1969      1
Apr-1970      3
Apr-1971      6
Apr-1972      2
Apr-1973      7
Apr-1974      6
Apr-1975     11
Apr-1976      7
Apr-1977     10
Apr-1978     14
Apr-1979     15
Apr-1980     17
Apr-1981     15
Apr-1982     23
Apr-1983     29
Apr-1984     27
Apr-1985     31
Apr-1986     29
Apr-1987     48
Apr-1988     55
Apr-1989     64
Apr-1990     79
Apr-1991     77
Apr-1992     90
Apr-1993    100
Apr-1994    134
           ...
Sep-1979     20
Sep-1980     18
Sep-1981     28
Sep-1982     16
Sep-1983     33
Sep-1984     46
Sep-1985     41
Sep-1986     59
Sep-1987     59
Sep-1988     63
Sep-1989     83
Sep-1990     93
Sep-1991     70
Sep-1992     72
Sep-1993    124
Sep-1994    119
Sep-1995    181
Sep-1996    187
Sep-1997    196
Sep-1998    267
Sep-1999    277
Sep-2000    325
Sep-2001    282
Sep-2002    251
Sep-2003    220
Sep-2004    221
Sep-2005    162
Sep-2006    150
Sep-2007     63
Sep-2008      8
Name: earliest_cr_line, Length: 530, dtype: int64
-----------
application_type
INDIVIDUAL    42535
Name: application_type, dtype: int64
-----------
initial_list_status
f    42535
Name: initial_list_status, dtype: int64
-----------
int_rate
  5.42%    573
  5.79%    410
  5.99%    347
  6.00%     19
  6.03%    447
  6.17%    252
  6.39%     58
  6.54%    307
  6.62%    396
  6.76%    168
  6.91%    310
  6.92%    204
  6.99%    336
  7.05%     23
  7.12%      9
  7.14%    342
  7.29%    397
  7.37%     32
  7.40%     72
  7.42%      7
  7.43%     33
  7.49%    656
  7.51%    787
  7.66%    292
  7.68%     94
  7.74%    154
  7.75%     27
  7.88%    742
  7.90%    582
  7.91%     14
          ...
 20.90%     18
 20.99%     55
 21.14%      7
 21.21%      7
 21.22%      7
 21.27%     16
 21.28%     43
 21.36%     45
 21.48%      1
 21.59%      8
 21.64%     12
 21.67%     42
 21.74%     31
 21.82%      2
 22.06%     37
 22.11%     31
 22.35%     25
 22.48%     16
 22.64%      1
 22.74%     20
 22.85%      8
 22.94%      2
 23.13%      9
 23.22%      9
 23.52%      9
 23.59%      4
 23.91%     11
 24.11%      3
 24.40%      1
 24.59%      1
Name: int_rate, Length: 394, dtype: int64
-----------
issue_d
Apr-2008     259
Apr-2009     333
Apr-2010     912
Apr-2011    1563
Aug-2007      74
Aug-2008     100
Aug-2009     446
Aug-2010    1175
Aug-2011    1934
Dec-2007     172
Dec-2008     253
Dec-2009     658
Dec-2010    1335
Dec-2011    2267
Feb-2008     306
Feb-2009     302
Feb-2010     682
Feb-2011    1298
Jan-2008     305
Jan-2009     269
Jan-2010     662
Jan-2011    1380
Jul-2007      63
Jul-2008     141
Jul-2009     411
Jul-2010    1204
Jul-2011    1875
Jun-2007      24
Jun-2008     124
Jun-2009     406
Jun-2010    1105
Jun-2011    1835
Mar-2008     402
Mar-2009     324
Mar-2010     828
Mar-2011    1448
May-2008     115
May-2009     359
May-2010     989
May-2011    1704
Nov-2007     112
Nov-2008     209
Nov-2009     662
Nov-2010    1224
Nov-2011    2232
Oct-2007     105
Oct-2008     122
Oct-2009     604
Oct-2010    1232
Oct-2011    2118
Sep-2007      53
Sep-2008      57
Sep-2009     507
Sep-2010    1189
Sep-2011    2067
Name: issue_d, dtype: int64
-----------
home_ownership
MORTGAGE    18959
NONE            8
OTHER         136
OWN          3251
RENT        20181
Name: home_ownership, dtype: int64
-----------
purpose
car                    1615
credit_card            5477
debt_consolidation    19776
educational             422
home_improvement       3199
house                   426
major_purchase         2311
medical                 753
moving                  629
other                  4425
renewable_energy        106
small_business         1992
vacation                400
wedding                1004
Name: purpose, dtype: int64
-----------
zip_code
007xx      1
010xx    106
011xx     17
012xx     16
013xx     14
014xx     36
015xx     66
016xx     26
017xx     83
018xx    143
019xx     89
020xx     77
021xx    416
022xx      2
023xx     90
024xx    100
025xx     26
026xx     29
027xx     99
028xx    148
029xx     59
030xx     75
031xx     27
032xx     17
033xx      5
034xx     11
035xx      3
036xx      1
037xx      9
038xx     40
        ...
967xx    109
968xx     69
969xx      2
970xx     80
971xx     45
972xx    137
973xx     68
974xx     64
975xx     31
976xx     12
977xx     19
978xx     13
980xx    241
981xx    173
982xx     99
983xx     68
984xx     65
985xx     53
986xx     62
988xx     11
989xx     19
990xx     13
991xx     12
992xx     44
993xx     25
995xx     35
996xx     15
997xx     22
998xx     10
999xx      1
Name: zip_code, Length: 837, dtype: int64
-----------
term
 36 months    31534
 60 months    11001
Name: term, dtype: int64
-----------
addr_state
AK      86
AL     484
AR     261
AZ     933
CA    7429
CO     857
CT     816
DC     224
DE     136
FL    3104
GA    1503
HI     181
IA      12
ID       9
IL    1672
IN      19
KS     298
KY     359
LA     461
MA    1438
MD    1125
ME       3
MI     796
MN     652
MO     765
MS      26
MT      96
NC     830
NE      11
NH     188
NJ    1988
NM     205
NV     527
NY    4065
OH    1329
OK     317
OR     468
PA    1651
RI     208
SC     489
SD      67
TN      32
TX    2915
UT     278
VA    1487
VT      57
WA     888
WI     516
WV     187
WY      87
Name: addr_state, dtype: int64
-----------
verification_status
Not Verified       18758
Source Verified    10306
Verified           13471
Name: verification_status, dtype: int64
-----------
sub_grade
A1    1142
A2    1520
A3    1823
A4    2905
A5    2793
B1    1882
B2    2113
B3    2997
B4    2590
B5    2807
C1    2264
C2    2157
C3    1658
C4    1370
C5    1291
D1    1053
D2    1485
D3    1322
D4    1140
D5    1016
E1     884
E2     791
E3     668
E4     552
E5     499
F1     392
F2     308
F3     236
F4     211
F5     154
G1     141
G2     107
G3      79
G4      99
G5      86
Name: sub_grade, dtype: int64
-----------
title
\tdebt_consolidation                                            2
   HITEK  EQUIPMENT                                             1
 APRILIA TUONO 1000R                                            1
 Auto                                                           1
 Auto Loan                                                      1
 Bill pay of                                                    1
 Business Loan                                                  1
 CC Consolidation Loan                                          1
 Car loan                                                       1
 Citifinancial consolidation                                    1
 Consolidate at a lower rate                                    1
 Credit Card Payment                                            1
 Credit Card Refinancing                                        1
 Credit Consolidation                                           1
 Credit card payoff                                             1
 Debt Considation                                               1
 Debt Consolidation                                             6
 Debt Consolidation Loan                                        3
 Debt Consolidation for recent Grad.                            1
 Freedom                                                        1
 Freedom Loan                                                   1
 Home Improvement                                               1
 Home Improvement Loan                                          1
 Improving Life Loan                                            1
 Increasing Downpayment to avoid PMI                            1
 J & L Credit Card Consolidation Loan                           1
 LG consolidation loan                                          1
 Personal Loan                                                  2
 Personal loan                                                  1
 Reliable borrower seeks to consolidate                         1
                                                               ..
wrap up                                                         1
wtf                                                             1
wyatt1981                                                       1
wyndstress                                                      1
x1                                                              1
xmas                                                            2
xmass                                                           1
xperienceddebtorqualifiedfor4xthisamount                        1
xr1200                                                          1
xxxx                                                            1
yael                                                            1
yankeeoan                                                       1
yankees                                                         1
yay                                                             1
yc                                                              1
year end scamble                                                1
yes                                                             2
yknot                                                           1
yogibear66                                                      1
you can't beat it                                               1
you won't let you down! I need help for my credit card debt.    1
young adult establishing loan credit                            1
young couple moving up                                          1
young woman with medical expenses                               1
your rate is better than my rate                                1
zack                                                            2
zandercade                                                      1
zipcar                                                          1
zxcvb                                                           1
îîMY FIRST CAR îî                                       1
Name: title, Length: 21264, dtype: int64
-----------
pymnt_plan
n    42534
y        1
Name: pymnt_plan, dtype: int64
-----------
revol_util
0%       1070
0.01%       1
0.03%       1
0.04%       1
0.05%       1
0.1%       61
0.12%       1
0.16%       1
0.2%       64
0.3%       43
0.4%       45
0.46%       1
0.49%       1
0.5%       49
0.54%       1
0.6%       39
0.7%       47
0.75%       1
0.8%       43
0.83%       1
0.86%       1
0.9%       41
1%         51
1.1%       39
1.2%       37
1.3%       36
1.4%       32
1.5%       33
1.6%       24
1.7%       30
         ...
97%        31
97.1%      39
97.2%      32
97.3%      36
97.4%      33
97.5%      35
97.6%      35
97.7%      45
97.8%      38
97.9%      27
98%        28
98.1%      25
98.2%      25
98.3%      36
98.4%      31
98.5%      29
98.6%      36
98.7%      27
98.8%      38
98.9%      20
99%        35
99.1%      33
99.2%      22
99.3%      32
99.4%      24
99.5%      24
99.6%      27
99.7%      32
99.8%      25
99.9%      29
Name: revol_util, Length: 1119, dtype: int64
-----------

In [33]:
cat_cols.remove('int_rate')
cat_cols.remove('revol_util')
convert_col_dtypes = {}

for col in cat_cols:
    convert_col_dtypes[col] = "category"

In [34]:
def clean_percent_symbol(row):
    if type(row['int_rate']) is str: 
        row['int_rate'] = row['int_rate'].replace("%","")
    
    if type(row['revol_util']) is str: 
        row['revol_util'] = row['revol_util'].replace("%","")
    return row

In [35]:
chunk_iter = pd.read_csv('loans_2007.csv', chunksize=3100, usecols=used_cols, dtype=convert_col_dtypes)
for chunk in chunk_iter:
    print(chunk.dtypes)
    break

member_id                      float64
loan_amnt                      float64
funded_amnt                    float64
funded_amnt_inv                float64
term                          category
int_rate                        object
installment                    float64
grade                         category
sub_grade                     category
emp_title                       object
emp_length                    category
home_ownership                category
annual_inc                     float64
verification_status           category
issue_d                       category
loan_status                   category
pymnt_plan                    category
purpose                       category
title                         category
zip_code                      category
addr_state                    category
dti                            float64
delinq_2yrs                    float64
earliest_cr_line              category
inq_last_6mths                 float64
open_acc                       float64
pub_rec                        float64
revol_bal                      float64
revol_util                      object
total_acc                      float64
initial_list_status           category
out_prncp                      float64
out_prncp_inv                  float64
total_pymnt                    float64
total_pymnt_inv                float64
total_rec_prncp                float64
total_rec_int                  float64
total_rec_late_fee             float64
recoveries                     float64
collection_recovery_fee        float64
last_pymnt_d                  category
last_pymnt_amnt                float64
last_credit_pull_d            category
collections_12_mths_ex_med     float64
policy_code                    float64
application_type              category
acc_now_delinq                 float64
chargeoff_within_12_mths       float64
delinq_amnt                    float64
pub_rec_bankruptcies           float64
tax_liens                      float64
dtype: object

In [36]:
chunk_iter = pd.read_csv('loans_2007.csv', chunksize=3100, usecols=used_cols, dtype=convert_col_dtypes)
total_len = 0
total_mem = 0
for chunk in chunk_iter:
    chunk = chunk.apply(clean_percent_symbol, axis=1)
    
    chunk.int_rate = chunk.int_rate.astype(float)
    chunk.revol_util = chunk.revol_util.astype(float)
    
    mem = chunk.memory_usage(deep=True).sum()/(1024*1024)
    total_len += chunk.shape[0]
    total_mem += mem
    
print("Total Rows: ", total_len)
print("Total Memory: ", total_mem)

total rows:  42538
total mems (MB):  61.259809494018555

In [39]:
cat_cols.remove('term')

convert_col_dtypes = {}
for col in cat_cols:
    convert_col_dtypes[col] = "category"

chunk_iter = pd.read_csv('loans_2007.csv', chunksize=3100, usecols=used_cols, dtype=convert_col_dtypes)
total_len = 0
total_mem = 0
for chunk in chunk_iter:
    chunk = chunk.apply(clean_percent_symbol, axis=1)
    chunk.term = chunk.term.str.lstrip(" ").str.rstrip(" months")
    
    chunk.int_rate = pd.to_numeric(chunk.int_rate)
    chunk.revol_util = pd.to_numeric(chunk.revol_util)
    chunk.term = pd.to_numeric(chunk.term)
    
    mem = chunk.memory_usage(deep=True).sum()/(1024*1024)
    total_len += chunk.shape[0]
    total_mem += mem
    
print("Total Rows: ", total_len)
print("Total Memory: ", total_mem)

total rows:  42538
total mems (MB):  58.8665132522583

In [42]:
chunk_iter = pd.read_csv('loans_2007.csv', chunksize=3100, usecols=used_cols, dtype=convert_col_dtypes,
                        parse_dates=["issue_d", "earliest_cr_line", "last_pymnt_d", "last_credit_pull_d"])
total_len = 0
total_mem = 0
for chunk in chunk_iter:
    chunk = chunk.apply(clean_percent_symbol, axis=1)
    chunk.term = chunk.term.str.lstrip(" ").str.rstrip(" months")
    
    chunk.int_rate = pd.to_numeric(chunk.int_rate)
    chunk.revol_util = pd.to_numeric(chunk.revol_util)
    chunk.term = pd.to_numeric(chunk.term)
    
    mem = chunk.memory_usage(deep=True).sum()/(1024*1024)
    total_len += chunk.shape[0]
    total_mem += mem
    
print("Total Rows: ", total_len)
print("Total Memory: ", total_mem)

Total Rows:  42538
Total Memory:  49.621094703674316